{% extends 'blog/base.html' %}
{% load static %}
<!-- Page Header-->
{% block header %}
<header class="masthead" style="background-image: url({% static 'assets/img/pexels.jpg' %})">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>{{ title }}</h1>
                    <span class="subheading">A Blog Theme by Start Bootstrap</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

<!-- Main Content-->
{% block content %}
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">

        <div class="col-md-10 col-lg-8 col-xl-7">
            <div class="btn-group d-flex justify-content-end" role="group" aria-label="Basic radio toggle button group">
                <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
                <label class="btn btn-outline-primary" for="btnradio1">Сначала новые</label>

                <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio2">Сначала старые</label>
            </div>
            <!-- Post preview-->
            {% for item in articles %}
                {% with item as item %}
                {% include 'blog/item_article.html' %}
                {% endwith %}
                <!-- Divider-->
                <hr class="my-4"/>
            {% endfor %}
            <!-- Pager-->
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-end">
                    <li class="page-item d-flex justify-content-end mb-4 {% if page_obj.has_previous != True %}disabled{% endif %}">
                        <a class="page-link btn btn-primary text-uppercase" href="?page={% if page_obj.has_previous %}{{page_obj.previous_page_number}}{% endif %}" tabindex="-1">Previous</a>
                    </li>
                    {% for page in page_obj.paginator.page_range %}
                        
                        <li class="page-item d-flex justify-content-end mb-4"><a class="page-link" href="?page={{page}}">{{page}}</a></li>
                    {% endfor %}
                    <li class="page-item d-flex justify-content-end mb-4 {% if page_obj.has_next != True %}disabled{% endif %}">
                        <a class="page-link btn btn-primary text-uppercase" href="?page={% if page_obj.has_next %}{{page_obj.next_page_number}}{% endif %}">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
{% endblock %}
